body{
    padding: 10%;
    font-size: 1rem;

}

a{
    color:hsl(210, 45%, 34%);

}
/*Sudo Class*/

a:visited{

    color:rgb(60, 65, 49);
}

a:hover a:focus{
    color: hsl(210, 95%, 42%, 0.8);
    background: gold;

}

a:active{
    color: red;
}